:root {
    --primary-color: #286676;
    --border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16x;
    font-family: Roboto, Arial, sans-serif;
}

header,
.grid,
footer {
    max-width: 840;
    margin: 0 auto;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: 500;
}

main {
    max-width: 840px;
    grid-column: 2/3;
    margin: 1rem;
}

h1 {
    color: var(--primary-color);
    border-bottom: var(--border);
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 20px grey;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 135px;
    color: antiquewhite;
}

footer {
    margin-top: 10px;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1 px solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}